/* ===========================
   PÁGINA CONFIRMAÇÃO
=========================== */


*{

margin:0;

padding:0;

box-sizing:border-box;

}



body{

min-height:100vh;

display:flex;

align-items:center;

justify-content:center;


background:#050505;


font-family:Arial;


color:white;


}



.confirmacao{


width:90%;

max-width:500px;

padding:50px;


text-align:center;


background:rgba(255,255,255,.08);


backdrop-filter:blur(20px);


border-radius:30px;


border:1px solid #00ff88;


box-shadow:

0 0 40px rgba(0,255,136,.3);


}



.icone{


width:90px;

height:90px;


margin:auto;


display:flex;

align-items:center;

justify-content:center;


border-radius:50%;


background:#00ff88;


color:#000;


font-size:50px;


font-weight:bold;


margin-bottom:30px;


}



.confirmacao h1{


color:#00ff88;

font-size:40px;

margin-bottom:20px;


}



.confirmacao p{


color:#ccc;

line-height:28px;

margin:15px;


}



.confirmacao a{


display:inline-block;


margin-top:30px;


padding:15px 35px;


background:#00a8ff;


color:white;


border-radius:30px;


text-decoration:none;


font-weight:bold;


transition:.4s;


}



.confirmacao a:hover{


box-shadow:0 0 30px #00a8ff;


transform:translateY(-5px);


}