*{

margin:0;

padding:0;

box-sizing:border-box;

}



body{

font-family:Arial,sans-serif;

background:#050505;

color:white;

}



header{

padding:30px 8%;

display:flex;

justify-content:space-between;

align-items:center;

}



header h1{

color:#ffd400;

}



header a{

background:#00a8ff;

padding:12px 25px;

border-radius:30px;

color:white;

text-decoration:none;

}



.contacto{

padding:60px 8%;

display:flex;

justify-content:center;

}



.contacto-box{

max-width:700px;

width:100%;

padding:40px;


background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);


border-radius:30px;


border:1px solid rgba(255,255,255,.1);

}



.contacto-box h2{

text-align:center;

color:#00a8ff;

font-size:35px;

}



.contacto-box p{

color:#ccc;

line-height:28px;

margin:15px 0;

}



.informacoes{

display:flex;

gap:20px;

flex-wrap:wrap;

margin:30px 0;

}



.informacoes div{

flex:1;

min-width:180px;

padding:20px;

background:#090909;

border-radius:20px;

}



.informacoes h3{

color:#ffd400;

}



.whatsapp{

display:block;

text-align:center;

padding:15px;

background:#00ff88;

color:#000;

font-weight:bold;

border-radius:30px;

text-decoration:none;

margin:25px 0;

}



form input,
form textarea{

width:100%;

padding:15px;

margin:10px 0;

background:#111;

border:1px solid #333;

color:white;

border-radius:15px;

}



textarea{

height:120px;

}



form button{

width:100%;

padding:15px;

border:none;

border-radius:30px;

background:#00a8ff;

color:white;

font-weight:bold;

cursor:pointer;

}



form button:hover{

box-shadow:0 0 25px #00a8ff;

}



footer{

text-align:center;

padding:30px;

color:#888;

}